/* HERO */
.case-hero {
  height: 70vh;
  background: linear-gradient(135deg, #6f42c1, #9b59b6);
}

/* GLASS CARD */
.overview-card {
  background: rgba(255,255,255,0.7);
  backdrop-filter: blur(10px);
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.05);
}

/* PROBLEM */
.problem-card {
  padding: 20px;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0 8px 20px rgba(0,0,0,0.05);
  transition: 0.3s;
}

.problem-card:hover {
  transform: translateY(-5px);
}

/* TIMELINE */
.timeline-item {
  margin-bottom: 30px;
}

.timeline-item span {
  font-size: 30px;
  color: #6f42c1;
  font-weight: bold;
}

/* RESULTS */
.results-section {
  padding: 80px 0;
  background: linear-gradient(135deg, #5a32a3, #8e44ad);
}

/* TESTIMONIAL */
.testimonial-card {
  padding: 30px;
  border-radius: 16px;
  background: #f8f9ff;
  max-width: 700px;
  margin: auto;
}

/* CTA */
.cta-section {
  padding: 80px 0;
  background: linear-gradient(135deg, #8e44ad, #6f42c1);
}

.overview {
    background-image: url('../../assets/bg_1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.solutions {
    background-image: url('../../assets/bg_2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}